*
            {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }
            @media only screen and (min-width: 700px) {
                .container
                {
                    width:80%;
                    margin: auto;
                }
                header
                {
                    width: 100%;
                    padding: 40px 0;
                    background-color: rgb(235, 232, 232);

                }
                header .container
                {
                    display: flex;
                    justify-content: space-between;
                }
            body
            {
                width:100%;
                content: "";
                clear: both;
                display: table;
            }

            .mobilemenu
            {
                display: none;
            }
            
            .mobile-menulist
            {
                display: none;
            }
            .nav
            {
                /* border:1px solid black; */
                width:500px;
                padding: 0 0 0 10px;
                /* margin-right:140px; */
                list-style-type: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                
            }

            .nav li a
            {
                font-weight: bold;
                /* padding-left: 10%; */
                color: gray;
                text-decoration: none;
            }
            .nav li a:hover
            {
                color: rgb(207, 80, 144);
            }
            .sectionimg
            {
                width:100%;
                background-color: #F8F8F8;

            }
            .divimg
            {
                width:1126px;
                height:660px;
                /* border:1px solid black; */
                margin:auto;
                position: relative;
            }

            .circle
            {
                position: absolute;
                top:65%;
                right:23%;
                /* border: 1px solid black; */
            }
            .circle p{
                position: absolute;;
    
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                color: white;
                font-size: 30px;
            }

            img{
                box-sizing: border-box;
            }
            .sectionproduct
            {
                background-color: rgb(235, 232, 232);
 
            }
            .sectionproduct .container
            {
                display: flex;
                justify-content: space-between;  
            }
            .divproduct
            {
                /* padding: 3% 0 3% 0; */
                /* margin-left: 12%; */
            }
            .productimg
            {
                /* box-sizing: border-box; */
                /* margin-right: 18%; */
            }
            .green
            {
                width:100%;
                display:inline-flex;
                justify-content: space-around;
                background-color: #A9C000;
                padding: 3% 0 3% 0;

            }
            .products, .ourstory, .flavours, .ourlocation
            {
                color: white;
                text-align: center;
            }
            footer
            {
                background-color: hotpink;
                padding-top:4%;
            }
            .social
            {
                margin: 0 auto;
                
                width: 20%;
            }
            .icons
            {
                width:100%;
                display: inline-flex;
                justify-content: space-around;
                padding-bottom: 8%;
            }
            .copyright
            {
                text-align: center;
                color: white;
            }
        }

        @media only screen and (max-width: 699px) {

            body
            {
                max-width:100%;
                content: "";
                clear: both;
                display: table;
            }

            .container
            {
                width:80%;
                margin: auto;
                /* border: 1px solid black; */
            }
            header
            {
                width: 100%;
                padding: 40px 0;
                background-color: rgb(235, 232, 232);

            }
            header .container
            {
                display: flex;
                justify-content: space-between;
            }
            .mobilemenu
            {
                width: fit-content;
                display: block;  
                position: relative;          
            }
            .mobilemenu
            {
                width: fit-content;
                display: flex;  
                align-items: center;
                position: relative;          
            }
            .mobilemenu ul
            {
                display:none;
                list-style-type: none;
                position: absolute;
                width:100px;
                right:0;
                top:100%;
                z-index: 1;
            }
            .mobilemenu ul li
            {
                background-color: rgba(0, 0, 0, 0.45);
                padding:10px 10px;
            }
            .mobilemenu li a
            {
                text-decoration: none;
                color: white;
            }
            .mobilemenu:hover  > ul {
                display: block;
            }

            .nav {
                display: none;
            }

            

            .sectionimg
            {
                width: 100%;
            }
            .divimg
            {
                width: 100%;
                margin:auto;
                position: relative;  
            }
            .bgimg
            {
                max-width:100%;
                
            }
            .circle
            {
                height: 155px;
                position: relative;
                text-align: center;
            }
            .circleimg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: -2;
            }
            .circle p{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                line-height: 150px;
                color: white;
                font-size: 30px;
            }

            img{
                box-sizing: border-box;
            }
            .sectionproduct
            {
                background-color: rgb(235, 232, 232);
                
                width: 100%;  
            }
            .divproduct
            {
                padding: 3% 16% 3% 12%;
            }
            .productimg
            {
                box-sizing: border-box;
                text-align: center;
            }
            .green
            {
                width:100%;
                display:block;
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: #A9C000;
                padding: 3% 0 3% 0;

            }
            .products, .ourstory, .flavours, .ourlocation
            {
                padding: 2% 0;
                color: white;
                text-align: center;
            }
            footer
            {
                width: 100%;
                background-color: hotpink;
                padding-top:4%;
            }
            .social
            {
                margin: 0 auto;
                text-align: center;
                width: 50%;
            }
            .icons
            {
                width:100%;
                display: inline-flex;
                justify-content: space-around;
                padding-bottom: 8%;
            }
            .copyright
            {
                text-align: center;
                color: white;
            }
            

        }